# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Swap files and temporary files (e.g. from Emacs)
*.*~
*.swp


# Compiled object files, must be recompiled for different architectures anyway
*.o
